{
    "version": "2018-05-29",
    "operation": "PutItem",
    "key": {
        "messageId": { "S": "$util.autoId()" },
        "chatSessionId": { "S": "$context.arguments.chatSessionId" }
    },
    "attributeValues": {
        "userId": { "S": "$context.arguments.userId" },
        "content": { "S": "$context.arguments.content" },
        "timestamp": { "S": "$util.time.nowISO8601()" },
        "isBotResponse": { "BOOL": false }
    }
}
